dessert:
	debugger: "dbg-gdb"
	path: "/home/nelsonfrew/vasirani_dp/dessert"

"dessert 2":
	debugger: "dbg-gdb"
	path: "/home/nelsonfrew/vasirani_dp/dessert"

"dessert 3":
	debugger: "dbg-gdb"
	path: "/home/nelsonfrew/vasirani_dp/dessert"
